.tasks{
    list-style:none;
    margin:0;
    padding:0;
}
.tasks__button{
   
}

.tasks__button--toggleDone{
    background: rgb(44, 179, 44);
    border:none;
    min-width: 25px;
    min-height: 25px;
    transition: 0.3s;

}
.tasks__button--toggleDone:hover{
    background: hsl(120, 61%, 50%);
    min-width: 27px;
    min-height: 27px;
}
.tasks__button--toggleDone:active{
    background: hsl(120, 61%, 60%);
}
.tasks__button--remove{
    background:rgb(202, 10, 10);
    transition: 0.3s;
}
.tasks__button--remove:hover{
    background: hsl(0, 100%, 60%);
    min-width: 27px;
    min-height: 27px;
}
.tasks__button--remove:active{
    background: hsl(0, 100%, 65%);
}

.task__item{
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap:20px;
    margin:15px;
}

.tasks__span--done{
    text-decoration: line-through;
}

.tasks__span{
    text-align:left;
    margin-top: 2px;   
}